{% extends "base.html" %}

{% block content %}
<p><a href="/blog">Main Blog Page</a><span style="display:inline-block; width: 10px;"></span>
    <a href="/newpost">Add a Blog Entry</a></p>
    
<h1 align="center">Add a Blog Entry</h1>
<form method="POST" action="/blog">
    <label for="title">Title for your new blog:</label>
    
    <input name="title" id="title" type="text" value="{{title}}"/>
    <br>
    <label for="content">Your new blog:</label>
    
    <textarea name="content" id="content" type="text" value="{{content}}"></textarea>
    <br>
    <input type="submit" value="Post Entry"/>
</form>
<p>{{error_message}}</p>

{% endblock %}